@import './globals/base.scss';
@import './globals/variables.scss';
@import './globals/utilities.scss';

.App {
  padding: 0 var(--spacer);
  margin: calc(var(--spacer) * 2) auto;
  max-width: 1000px;
}

// Global form styles
legend {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: var(--legend-margin);
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
  text-align: left;
}

label {
  display: block;
  font-size: inherit;
  margin-bottom: var(--label-margin);
}

input {
  font-size: inherit;
  outline: none;
  margin: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="submit"] {
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  display: block;
  padding: var(--input-padding);
  width: 100%;
  -webkit-appearance: none;

  &:focus {
    box-shadow: rgba(black, 0.25) 0 3px 6px -3px;
    border-color: var(--input-border-color-focus);
  }
}

input[type="submit"] {
  border-color: var(--button-bg-color);
  background-color: var(--button-bg-color);
  color: var(--button-color);
  cursor: pointer;
  padding: var(--input-padding) calc(var(--input-padding) * 2);
  width: auto;

  &:focus {
    background-color: var(--button-bg-color-focus);
    border-color: var(--button-bg-color-focus);
    box-shadow: rgba(black, 0.25) 0 3px 6px -3px;
  }
}

input[type="radio"] {
  @extend .visually-hidden;

  + label {
    cursor: pointer;
  }
}

// Form error styles
.has-error {
  label,
  input {
    color: var(--input-border-color-error);
  }

  input {
    border-color: var(--input-border-color-error);
  }
}

.error-message {
  color: var(--input-border-color-error);
  display: block;
  font-size: 0.8em;
  margin: var(--label-margin) 0;
}

// Input groups
.input-group {
  display: flex;
  position: relative;

  > * {
    border-radius: var(--input-border-radius);

    + * {
      margin-left: -1px;
    }

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  input {
    flex: 1 1 auto;
    min-width: 0;
  }

  label {
    background-color: #ebebeb;
  }
}

// Gift card amounts
.gift-card-fieldset__amount .form-group {
  label {
    border: 1px solid var(--input-border-color);
    margin-bottom: 0;
    padding: var(--input-padding);
  }

  input[type="radio"] {
    + label {
      border-radius: var(--input-border-radius);
      font-weight: bold;
      margin-bottom: var(--grid-gap);
      text-align: center;
    }

    + label:hover {
      border-color: var(--input-border-color-focus);
      box-shadow: rgba(black, 0.25) 0 3px 6px -3px;
    }

    &:checked + label {
      color: var(--input-border-color-selected);
      border-color: var(--input-border-color-selected);
      box-shadow: none;
    }

    &:checked:focus + label {
      color: var(--input-border-color-selected);
    }

    &:focus + label {
      color: black;
      border-color: var(--input-border-color-focus);
      box-shadow: rgba(black, 0.25) 0 3px 6px -3px;
    }
  }
}

// Form element groups
.form-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--grid-gap) * -1) calc(var(--grid-gap) * -1);
  padding: calc(var(--grid-gap) / 2);

  > * {
    flex: 1 0 auto;
    margin: 0 calc(var(--grid-gap) / 2) var(--grid-gap);
    max-width: 100%;
  }
}

//
.fieldset-description {
  color: gray;
  display: block;
  font-size: 0.8em;
  margin-bottom: var(--label-margin);
}
